body {
    margin: 0;
    font-family: sans-serif;
}

.background-image{
    background-image: url('stone-texture-background.jpg');
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

